body {
  background-color: rgb(161, 235, 52);
    width: 90%
        
}

/* overskrift h1 design */

.hjemmeside_overskrift{
    color: black;
    
    font-weight: 100px
        
}
.billede1{
    position: relative;
    margin:auto;
    left:300px;
    
}




